/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
* {
    font-family: "Work Sans", sans-serif;
}
.p-text{
    color: #727272;
}

.btn-pramriy {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    margin-bottom: 30px;
    cursor: pointer;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-titel {
    color: #131313;
    font-weight: 700;
    font-size: 2rem;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-contaner {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.banner-titel {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.banner img {
    width: 100%;

}

/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;
   
}

/* teams-section style */
.teams-contanner {
    display: flex;
    align-items: center;
}
.teams-img-contanner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.teams-img-contanner img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.teams-text-contanner{
    padding-left: 70px;
    padding-right: 70px;
    
}

.teams-text-titel{
    font-size: 2.3rem;
}
.teams-text-titel .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-text-titel .titel-Features{
    color: #FF900E;
    font-weight: 700;
}






/* Resposive media quary */

/* mobile device  */
@media screen and (max-width:576px) {
    header {
        padding: 10px;
    }

    nav{
        flex-direction: column;
    }
    .teams-contanner{
        flex-direction: column-reverse;
    }
    .teams-img-contanner {
        grid-template-columns: 1fr;
    }
    .teams-text-contanner{
        padding-left: 20px;
    padding-right: 20px;
    }
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 40px;
    }

    nav {
        flex-direction: column;
    }
    .teams-contanner{
        flex-direction: column;
    }
}